<!DOCTYPE html>
<html ng-app="oneRepMax">
<head lang="en">
    <meta charset="UTF-8">
    <title>Angular 1 Rep Max Calculator</title>
    <style type="text/css">
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak]
         {
            display: none !important;
        }
    </style>
</head>
<body>

<div ng-cloak ng-controller="MaxController">
    Weight Lifted: <input ng-model="max.weightLifted">
    Reps Done: <input ng-model="max.repsDone">
    <button ng-click="max.calculateMax()">Calculate</button>
    <!--<button ng-click="max.resetMax()">Reset</button>-->
    One Rep Max: {{ max.maxWeight }}
    <table>
        <tr>
            <th>Percentage</th>
            <th>Weight</th>
        </tr>
        <tr ng-repeat="percent in max.percentages">
            <td>{{ percent.name }} 1RM</td>
            <td>{{ percent.weight }}</td>
        </tr>
    </table>
</div>

<script src="../bower_components/angular/angular.js"></script>
<script src="app.js"></script>
<script src="MaxController.js"></script>
<script src="MaxModel.js"></script>
<script src="MaxService.js"></script>

</body>
</html>